@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');

@mixin roboto {
  font-family: 'Roboto', sans-serif;
}

@mixin gradient {
  background: rgb(136, 212, 252);
  background: linear-gradient(90deg, rgba(136, 212, 252, 1) 30%, rgba(28, 146, 209, 1) 70%);
}

$primary: #1c92d1;
$secondary: #ffffff;
@keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(230, 32, 12, 0);
  }
}

.back_call {
  animation: pulse 1.5s infinite;
  box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);

  background-color: red;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex !important;
  justify-content: center !important;
  align-items: center;
  position: fixed !important;
  z-index: 2 !important;
  width: 60px !important;
  height: 60px !important;
  right: 20px;
  bottom: 20px;
}

.main-wrapper {
  position: relative;
  width: 480px;
  margin: 0 auto;
  @include roboto
}

.title {
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 20px !important;
  background-color: $secondary;
  color: $primary;
  border-radius: 25px;
  padding: 5px;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

// === banner === //
.banner {
  position: relative;

  &__image {
    object-fit: cover;
    width: 100%;
  }
}

.price {
  display: flex;

  &__info {
    font-size: 18px;
  }

  &__old, &__new {
    width: 50%;
    font-size: 26px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: aliceblue;
  }

  &__old {
    background-color: #355CA1;
  }

  &__new {
    background-color: #C3E2FD;
    color: $primary;

  }

  &__sold {
    position: absolute;
    top: 81%;
    left: 41%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #ff6a22;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    color: aliceblue;

  }
}

// === timer === //

.timer {
  //background-color: #404040;
  @include gradient;
  padding: 20px 50px 0 50px;

  &__title {
    color: $secondary;
    text-align: center;
    font-weight: 700;
    width: 400px;
    font-size: 30px;
    margin-bottom: 30px;
  }

  &__dates-wrapper {
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: $secondary;
  }

  &__amount-info {
    margin-top: 7px;
  }

  &__amount {
    border-radius: 5px;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $secondary;
    color: black;
    height: 50px;
    width: 50px;
  }
}

.double-points {
  margin-top: 5px;
  color: aliceblue;
  font-size: xx-large;
}

// === benefits === //

.benefits {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;

  &__block {
    width: 180px;
    margin-top: 10px;
    padding: 20px 10px;
    background-color: $primary;
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;

    p {
      max-width: 180px;
      font-size: 16px;
      margin-top: 15px;
      color: $secondary;
    }
  }

  &__block:nth-child(2n) {
    margin-left: 10px;
  }

}

svg {
  fill: $secondary;
}

.benefits__wrapper {
  margin-top: 30px;
}

.benefits__title {
  text-align: center;
  font-size: 36px;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 20px !important;
  background-color: $primary;
  color: $secondary;
  border-radius: 25px;
  padding: 10px !important;
}

// === doctors === //

.small-img {
  width: 100% !important;
}

.doctors {
  @include gradient;
  padding-top: 30px;

  &__title {
    text-align: center;
    //padding-top: 30px;
    font-size: xxx-large;
    background-color: $secondary;
    color: $primary;
    border-radius: 25px;
    max-width: 350px;
    padding: 5px;
    margin: 0 auto;
  }
}

select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}

.swiper-wrapper__doctors {
  padding: 10px;
  margin-bottom: 20px;
}

.swiper-slide__doctors {
  background-color: $secondary;
  width: 350px !important;
  height: 700px !important;
  margin: 30px 0 30px 0;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;

  &__image {
    object-fit: contain;
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  &__title {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;

  }

  &__info {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    line-height: 24px;
  }
}

.small-img {
  width: 70%;
}

.swiper-slide__title {
  text-align: center;
}

.swiper-pagination-bullet {
  background-color: $secondary !important;
}

// === form ===

.form-control {
  @include gradient;

  & button {
    margin-top: 20px;
  }
}

form {
  display: flex;
  flex-direction: column;
  padding: 30px;
}


.input + .input {
  margin-top: 20px;
}

input {
  @include roboto;
  font-size: 20px;
  outline: none;
  border: none;
  padding: 20px;
  font-weight: 300;

}

select {
  font-size: 20px;
  outline: none;
  border: none;
  padding: 20px;
  font-weight: 300;
}

option {
  font-size: 20px;
  outline: none;
  border: none;
  padding: 20px;
  font-weight: 300;
}

//=== button-submit__wrapper ===//
.button-submit {
  color: black;
  background: rgb(253, 187, 45);
  background: linear-gradient(0deg, rgba(253, 187, 45, 1) 8%, rgba(236, 234, 79, 1) 77%);
  padding: 20px;
  font-size: 24px;
  width: 300px;
  margin: 0 auto;
  border: none;
  cursor: pointer;
}

.button-submit__wrapper {
  @include gradient;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.button-submit__info {
  color: $secondary;
  margin-top: 20px;
  font-size: 18px;
}

// ===reviews=== //

.swiper-wrapper__reviews {
  width: 480px;
  border-radius: 15px;
  margin-bottom: 35px;
}

.reviews {
  padding: 40px 0;
  @include gradient;

  h2 {
    text-align: center;
    font-size: xxx-large;
  }
}

.avatar {
  vertical-align: middle;
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}

.swiper-slide__review {
  border-radius: 15px;
  background-color: white;
  height: 600px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review-info__block {
  margin: 0 auto;
  width: 300px;
  display: flex;
  padding-top: 20px;
  justify-content: flex-start;
}

.review-older {
  margin-top: 5px;
  font-weight: 300;
}

.review-name {
  font-size: 18px;
}

.reviewSwiper {
  width: 450px;
}

.review-info__block-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 20px;
}

.review-text {
  text-align: justify;
  max-width: 320px;
  font-size: large;
  font-weight: 300;
  margin: 20px auto;
}

// === modal window === //
.order-a-consultation__modal {
  .modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
    transition: .25s;
    visibility: hidden;
    opacity: 0;

    &-wrapper {
      margin-top: 10%;

      &__content {
        position: relative;
        border-radius: 20px;
        @include gradient;
        width: 330px;
        height: 600px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 50px;

        & button {
          margin-top: 20px;
        }

        h2 {
          padding: 10px;
          font-size: 22px;
          text-align: center;
        }

        form {
          padding: 0 !important;
          margin: 0 auto;
        }

        &-input {
          padding: 10px;
          width: 460px;
          height: 48px;
          background: #FFFFFF;
          border: 1px solid rgba(108, 144, 177, 0.5);
          box-sizing: border-box;
          border-radius: 2px;
          font-size: 20px;
          outline: none;
          margin-top: 32px;

          &__area {
            width: 607px;
            height: 149px;
            margin: 0;

            &-heading {
              text-align: left;
              width: 53%;
              padding-top: 32px;

              p {
                color: white;
              }
            }
          }
        }
      }
    }
  }
}

.order-a-consultation__modal__active {
  .modal {
    transition: .25s;
    visibility: visible;
    opacity: 1;

    &-wrapper {
      visibility: visible;
      opacity: 1;
      transition: 1.5s;
    }
  }
}

.button-consultation__modal {
  width: 53%;
  margin-top: 24px;
}

.modal-wrapper__content__close-btn {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

// === footer === //

footer{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include gradient;
  a{
    font-size: 14px;
    color: $secondary;
  }
  a:active{
    font-size: 14px;
  }

}
