@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
body {
  font-family: 'Bebas Neue', sans-serif;
}

.section-outer {
  padding: 0 20px;
}

.section-inner {
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 60px;
  padding: 0;
  margin: 0;
}

@media (max-width: 991px) {
  h1 {
    font-size: 50px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 40px;
  }
}

@media (max-width: 575px) {
  h1 {
    font-size: 30px;
  }
}

h2 {
  font-size: 44px;
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 991px) {
  h2 {
    font-size: 40px;
  }
}

@media (max-width: 767px) {
  h2 {
    font-size: 36px;
  }
}

@media (max-width: 575px) {
  h2 {
    font-size: 30px;
  }
}

h3 {
  font-size: 32px;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 767px) {
  h3 {
    font-size: 26px;
  }
}

@media (max-width: 575px) {
  h3 {
    font-size: 22px;
  }
}

h4 {
  font-size: 28px;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 991px) {
  h4 {
    font-size: 26px;
  }
}

@media (max-width: 767px) {
  h4 {
    font-size: 24px;
  }
}

@media (max-width: 575px) {
  h4 {
    font-size: 20px;
  }
}

p {
  font-size: 20px;
  padding: 0;
  margin: 0;
}

@media (max-width: 767px) {
  p {
    font-size: 18px;
  }
}

@media (max-width: 575px) {
  p {
    font-size: 14px;
  }
}

.button-consultation {
  cursor: pointer;
  height: 60px;
  border-radius: 2.5px;
  border: none;
  background-color: #FFB800;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

@media (max-width: 575px) {
  .button-consultation {
    font-size: 14px;
  }
}

.button-consultation:hover {
  background-color: #cc9300;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button-consultation p {
  color: #0B4275;
  font-weight: 400;
  font-family: 'Bebas Neue', sans-serif;
}

.button-consultation__danger {
  background-color: red;
  margin-top: 15px;
}

.button-consultation__danger:hover {
  background-color: #cc0000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button-consultation__danger p {
  color: white;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

.sectoin-heading-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sectoin-heading-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sectoin-heading-right .sectoin-heading__text {
  font-weight: 400;
}

@media (max-width: 575px) {
  .sectoin-heading {
    max-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.sectoin-heading__text {
  text-align: center;
  background-color: #FFB800;
  color: #0B4275;
  font-weight: 400;
  padding: 10px 300px 10px 0;
  width: 60%;
}

@media (max-width: 575px) {
  .sectoin-heading__text {
    padding: 10px 0;
    width: 100%;
  }
}

.work-principles__button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 75px;
}

@media (max-width: 767px) {
  .button-consultation__work-principles {
    max-width: 200px;
  }
}

.button-consultation__work-principles h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #0B4275;
  padding: 0 100px;
}

@media (max-width: 767px) {
  .button-consultation__work-principles h4 {
    padding: 0;
  }
}

.section-header {
  height: 125px;
  background: #0B4275;
}

@media (max-width: 991px) {
  .section-header {
    left: 0;
    right: 0;
    top: 0;
  }
}

.main-navigation {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main-navigation__iner-wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: 85px;
  -webkit-transition: .5s;
  transition: .5s;
}

@media (max-width: 991px) {
  .main-navigation__iner-wrap {
    visibility: hidden;
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 18%;
    right: 0;
    background-color: #FFB800;
    max-width: 200px;
    height: 250px;
    margin-left: 0;
    padding: 20px;
    border: #0B4275;
    border-radius: 15px 0 0 15px;
  }
  .main-navigation__iner-wrap .nav-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .main-navigation__iner-wrap .nav-wrapper__item {
    margin-top: 15px;
    margin-left: 0;
  }
  .main-navigation__iner-wrap .nav-wrapper__item-link {
    color: #0B4275;
  }
  .main-navigation__iner-wrap .popup-service__wrapper {
    right: 70%;
    top: 10%;
  }
  .main-navigation__iner-wrap .contacts {
    margin-top: 15px;
  }
  .main-navigation__iner-wrap .contacts a {
    color: #0B4275;
  }
  .main-navigation__iner-wrap .contacts a span {
    color: #09355e;
  }
  .main-navigation__iner-wrap .social {
    margin-top: 30px;
  }
}

.main-navigation__iner-wrap.active {
  opacity: 1;
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .5s;
  transition: .5s;
}

.logo {
  text-decoration: none;
}

.logo p {
  margin: 0;
  padding: 0;
  font-weight: 700;
  color: #5DCBE9;
}

.button-burger {
  display: none;
  background-color: #FFB800;
  margin-left: auto;
  width: 60px;
  height: 60px;
  padding: 0;
  border-radius: 2.5px;
  border: none;
  background-color: #FFB800;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.button-burger:hover {
  background-color: #cc9300;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button-burger span {
  display: block;
  height: 3.33333px;
  width: 50px;
  background-color: #0B4275;
  margin: 5px 5px 5px 5px;
  -webkit-transition: .5s;
  transition: .5s;
}

@media (max-width: 991px) {
  .button-burger {
    display: block;
  }
}

.button-burger__active span {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: .5s;
  transition: .5s;
}

.contacts {
  margin-left: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__mail {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #fff;
}

.contacts__tel {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.contacts__tel span {
  color: #5DCBE9;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 35px;
}

.social__item {
  margin-left: 10px;
}

.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-wrapper__item + .nav-wrapper__item {
  margin-left: 35px;
}

.nav-wrapper__item-link {
  color: #FFB800;
  text-decoration: none;
  cursor: pointer;
}

.nav-wrapper__item-link:hover {
  color: #cc9300;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.popup-service__wrapper {
  position: absolute;
  top: 100px;
  background-color: white;
  max-width: 195px;
  visibility: hidden;
  opacity: 0;
  list-style: disc;
  color: #FFB800;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.popup-service__wrapper-item {
  padding: 25px 0;
}

.popup-service__wrapper-item__link {
  font-family: 'Montserrat', sans-serif;
  color: #0B4275;
  font-weight: 400;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}

.popup-service__wrapper-item__link:hover {
  text-decoration: underline;
}

.popup-service__wrapper-item + .popup-service__wrapper-item {
  padding-top: 0;
}

.popup-link:hover ul {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section-banner {
  background-image: url(../img/ready-made_solutions/background_banner.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.banner__content h4 {
  color: #fff;
  padding-top: 60px;
  max-width: 925px;
  padding-bottom: 250px;
}

.banner__content-info p {
  color: #B4E0D3;
  padding-top: 40px;
  max-width: 545px;
}

.button-consultation__banner {
  margin-top: 15px;
  margin-bottom: 125px;
  width: 445px;
}

@media (max-width: 575px) {
  .button-consultation__banner {
    width: 200px;
  }
}

.info-page {
  color: #828282;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 10px;
}

.section-in-number__common-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.section-in-number__common-block h2 {
  font-weight: 400;
  color: #0B4275;
  margin-top: 75px;
}

.wrapper-content__blocks {
  margin-top: 40px;
}

.content__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 165px;
  border: 2px solid;
  border-image-slice: 2%;
  border-image-source: linear-gradient(to top, rgba(11, 66, 117, 0.62), rgba(11, 66, 117, 0.04));
}

.content__block + .content__block {
  margin-top: 10px;
}

.content__block h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #0B4275;
  max-width: 500px;
  padding-left: 95px;
}

@media (max-width: 575px) {
  .content__block h4 {
    padding: 10px;
  }
}

.content__block img {
  width: 30%;
  height: 30%;
  -o-object-fit: contain;
     object-fit: contain;
}

.section-reviews h1 {
  text-align: center;
  color: #0B4275;
  font-weight: 400;
  margin-top: 80px;
}

.reviews-wrapper {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  .reviews-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767px) {
  .reviews-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.reviews-wrapper__item {
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 991px) {
  .reviews-wrapper__item {
    max-width: 250px;
  }
}

.reviews-wrapper__item-content {
  max-height: 350px;
}

@media (max-width: 991px) {
  .reviews-wrapper__item-content {
    max-height: 500px;
  }
}

.reviews-wrapper__item + .reviews-wrapper__item {
  margin-left: 20px;
}

.reviews-wrapper__item img {
  margin-top: 15px;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.reviews-wrapper__item-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 64px;
}

.reviews-wrapper__item-heading h3 {
  color: #0B4275;
  font-weight: 300;
  text-align: center;
}

@media (max-width: 991px) {
  .reviews-wrapper__item-heading h3 {
    font-size: x-large;
    margin-top: 20px;
  }
}

.reviews-wrapper__item-content .hidden-paragraph {
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  margin-top: 30px;
  background: -webkit-gradient(linear, left bottom, left top, from(#FFFFFF), to(#000));
  background: linear-gradient(360deg, #FFFFFF, #000);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 767px) {
  .reviews-wrapper__item-content .hidden-paragraph {
    margin-top: 0;
  }
}

.reviews-wrapper__item-content .hidden-paragraph .hidden-text {
  opacity: 0;
  visibility: hidden;
}

.reviews-wrapper__item-content .hidden-paragraph .show-text {
  opacity: 1;
  visibility: visible;
}

.reviews-wrapper__item-content .show-paragraph {
  background: -webkit-gradient(linear, left bottom, left top, from(#000), to(#000));
  background: linear-gradient(360deg, #000, #000);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.arrow-button__down {
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
}

.arrow-button__down-active {
  rotate: 180deg;
}

.arrow-button__down path {
  fill: #0B4275;
}

.arrow-button__down path:hover {
  fill: #09355e;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.arrow-btn__array-active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.section-feedback {
  margin-top: 150px;
  background-color: #FFB800;
  background-image: url(../img/aboutCompany/feedback/background__left.png), url(../img/aboutCompany/feedback/background__right.png);
  background-repeat: no-repeat;
  background-position: left, right;
}

@media (max-width: 767px) {
  .section-feedback {
    background-image: none;
  }
}

.section-feedback h1 {
  text-align: center;
  color: #0B4275;
  font-weight: 700;
  padding-top: 50px;
}

.feedback-wrapper-mobile__item {
  display: none;
  margin-top: 15px;
}

.feedback-wrapper-mobile__item__text {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
  margin-top: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback-wrapper-mobile__item__input {
  border: none;
  height: 35px;
  min-width: 250px;
  margin-top: 20px;
}

.feedback-wrapper-mobile__item span {
  color: rgba(49, 49, 49, 0.5);
  font-family: 'Montserrat', sans-serif;
  max-width: 500px;
  margin-top: 7.5px;
  font-size: 12px;
  padding-bottom: 15px;
}

@media (max-width: 575px) {
  .feedback-wrapper-mobile__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.feedback-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
}

.feedback-wrapper:active {
  bottom: none;
}

@media (max-width: 575px) {
  .feedback-wrapper {
    display: none;
  }
}

.feedback-wrapper__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 575px) {
  .feedback-wrapper__item {
    display: none;
  }
}

.feedback-wrapper__item + .feedback-wrapper__item {
  margin-left: 25px;
}

.feedback-wrapper__item__with-background {
  background-image: url(../img/aboutCompany/feedback/message.png);
  background-repeat: no-repeat;
}

.feedback-wrapper__item__text {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: right;
  padding-bottom: 35px;
}

.feedback-wrapper__item__input {
  border: none;
  height: 35px;
  min-width: 500px;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .feedback-wrapper__item__input {
    min-width: 250px;
  }
}

@media (max-width: 575px) {
  .feedback-wrapper__item__input {
    min-width: 50px;
    margin-top: 20px;
  }
}

.feedback-wrapper__item span {
  color: rgba(49, 49, 49, 0.5);
  font-family: 'Montserrat', sans-serif;
  max-width: 500px;
  margin-top: 7.5px;
  font-size: 12px;
}

.section-footer {
  background-color: #0B4275;
  background-image: url(../img/aboutCompany/feedback/background__left.png), url(../img/aboutCompany/feedback/background__right.png);
  background-repeat: no-repeat;
  background-position: left, right;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 50px 0 150px 0;
}

@media (max-width: 767px) {
  .section-footer {
    background-image: none;
  }
}

@media (max-width: 575px) {
  .section-footer {
    padding: 50px 0 10px 0 0;
  }
}

.wrapper-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .wrapper-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper-footer__item-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .wrapper-footer__item-info__adress {
    margin-right: 10px;
  }
}

.wrapper-footer__item p {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 400;
  font-size: 14px;
}

.wrapper-footer__item-info__adress {
  max-width: 200px;
  margin-bottom: 35px;
}

.wrapper-footer__item-info a {
  text-decoration: none;
  cursor: pointer;
  margin-top: 10px;
}

.wrapper-footer__item-info a:hover {
  color: #cccccc;
}

.wrapper-footer__item-nav {
  list-style: none;
}

@media (max-width: 767px) {
  .wrapper-footer__item-nav {
    padding: 0;
  }
}

.wrapper-footer__item-nav__item {
  max-width: 250px;
}

.wrapper-footer__item-nav__item + .wrapper-footer__item-nav__item {
  margin-top: 15px;
}

.wrapper-footer__item-nav__item-link {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.wrapper-footer__item-nav__item-link:hover {
  color: #cccccc;
}

@media (max-width: 767px) {
  .wrapper-footer__item-feedback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
}

.wrapper-footer__item-feedback__element + .wrapper-footer__item-feedback__element {
  margin-top: 15px;
}

.wrapper-footer__item-feedback__input {
  background-color: #FFB800;
  border: none;
  height: 20px;
  min-width: 300px;
}

@media (max-width: 767px) {
  .wrapper-footer__item-feedback__input {
    min-width: 200px;
  }
}

.wrapper-footer__item-feedback__social {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 0;
}

@media (max-width: 767px) {
  .wrapper-footer__item-feedback__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.wrapper-footer__bottom {
  padding: 0;
  height: 40px;
  width: 100%;
  background-color: #B4E0D3;
}

.order-a-consultation__modal .modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3;
  -webkit-transition: .25s;
  transition: .25s;
  visibility: hidden;
  opacity: 0;
}

.order-a-consultation__modal .modal-wrapper {
  position: fixed;
  top: 10%;
  left: 10%;
  height: 600px;
  min-width: 80%;
  background-image: url(../img/index/popup.png);
  background-repeat: no-repeat;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  opacity: 0;
  z-index: 4;
  -webkit-transition: .25s;
  transition: .25s;
}

@media (max-width: 575px) {
  .order-a-consultation__modal .modal-wrapper {
    top: 20px;
    height: 500px;
  }
}

.order-a-consultation__modal .modal-wrapper__content {
  font-family: 'Montserrat', sans-serif;
  max-width: 1150px;
  max-height: 600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 40px;
  padding: 0 35px;
  padding: 0 20px;
}

.order-a-consultation__modal .modal-wrapper__content-input {
  width: 600px;
  height: 60px;
  background: #FFFFFF;
  border: 1px solid rgba(108, 144, 177, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  font-size: 20px;
  outline: none;
  margin-top: 40px;
}

@media (max-width: 767px) {
  .order-a-consultation__modal .modal-wrapper__content-input {
    width: 400px;
    height: 50px;
    margin: 0 auto;
    margin-top: 40px;
  }
}

@media (max-width: 575px) {
  .order-a-consultation__modal .modal-wrapper__content-input {
    width: 200px;
    height: 30px;
  }
}

.order-a-consultation__modal .modal-wrapper__content-input__area {
  width: 607px;
  height: 149px;
  margin: 0;
}

@media (max-width: 767px) {
  .order-a-consultation__modal .modal-wrapper__content-input__area {
    width: 400px;
    height: 100px;
    margin: 0 auto;
  }
}

@media (max-width: 575px) {
  .order-a-consultation__modal .modal-wrapper__content-input__area {
    width: 200px;
    height: 70px;
  }
}

.order-a-consultation__modal .modal-wrapper__content-input__area-heading {
  text-align: left;
  width: 53%;
  padding-top: 40px;
}

@media (max-width: 1399px) {
  .order-a-consultation__modal .modal-wrapper__content-input__area-heading {
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
}

.order-a-consultation__modal .modal-wrapper__content-input__area-heading p {
  color: white;
}

.order-a-consultation__modal__active .modal {
  -webkit-transition: .25s;
  transition: .25s;
  visibility: visible;
  opacity: 1;
}

.order-a-consultation__modal__active .modal-wrapper {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.button-consultation__modal {
  width: 53%;
  margin-top: 30px;
}

@media (max-width: 1199px) {
  .button-consultation__modal {
    margin: 0 auto;
    margin-top: 30px;
  }
}
