    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
    // ==== mixin ==== //
    @mixin montserrat {
        font-family: 'Montserrat', sans-serif;
    }
    
    // ==== \mixin ==== //
    // ==== variables ==== //
    $breakpoint-sm-min: 576px;
    $breakpoint-xs-max: $breakpoint-sm-min - 1px;
    $breakpoint-md-min: 768px;
    $breakpoint-sm-max: $breakpoint-md-min - 1px;
    $breakpoint-lg-min: 992px;
    $breakpoint-md-max: $breakpoint-lg-min - 1px;
    $breakpoint-xl-min: 1200px;
    $breakpoint-lg-max: $breakpoint-xl-min - 1px;
    $breakpoint-xxl-min: 1400px;
    $breakpoint-xl-max: $breakpoint-xxl-min - 1px;
    $fw-light:300;
    $fw-regular:400;
    $fw-bold:700;
    $base:5px;
    $base_color: #44C697;
    $dark_color: #1E2E36;
    $light_color: #BCBDBB;
    $color_ac: #FF1B1B;
    // ==== \variables ==== //
    // ==== common ==== //
    .common-heading {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: $base*20;
        h2 {
            max-width: $base*120;
            &::before {
                z-index: -1;
                position: absolute;
                height: $base*10;
                width: $base*4;
                content: "";
                background-color: $base_color
            }
        }
    }
    
    body {
        @include montserrat;
    }
    
    .section-outer {
        padding: 0 $base*4;
        @media (max-width: $breakpoint-sm-max) {
            padding: 0;
        }
    }
    
    .section-inner {
        max-width: 1500px;
        margin: 0 auto;
    }
    
    p {
        margin: 0;
        font-size: 18px;
        @media (max-width: $breakpoint-xl-max) {
            font-size: 18px;
        }
        @media (max-width: $breakpoint-sm-max) {
            font-size: 16px;
        }
        @media (max-width: $breakpoint-xs-max) {
            font-size: 14px;
        }
    }
    
    a {
        text-decoration: none;
        color: $dark_color;
        @media (max-width: $breakpoint-sm-max) {
            font-size: 16px;
        }
        @media (max-width: $breakpoint-sm-max) {
            font-size: 14px;
        }
    }
    
    h1,
    h2,
    h3,
    h4,
    h5 {
        color: $dark_color;
        margin: 0;
    }
    
    h1 {
        font-size: 64px;
        @media (max-width: $breakpoint-sm-max) {
            font-size: 60px;
        }
        @media (max-width: $breakpoint-xs-max) {
            font-size: 50px;
        }
    }
    
    h2 {
        font-size: 48px;
        @media (max-width: $breakpoint-sm-max) {
            font-size: 44px;
            text-align: center;
        }
        @media (max-width: $breakpoint-xs-max) {
            font-size: 38px;
        }
    }
    
    h3 {
        font-size: 36px;
        @media (max-width: $breakpoint-sm-max) {
            font-size: 32px;
        }
        @media (max-width: $breakpoint-xs-max) {
            font-size: 28px;
        }
    }
    
    h4 {
        font-size: 24px;
        @media (max-width: $breakpoint-sm-max) {
            font-size: 20px;
        }
        @media (max-width: $breakpoint-xs-max) {
            font-size: 18px;
        }
    }
    
    h5 {
        font-size: 18px;
        @media (max-width: $breakpoint-sm-max) {
            font-size: 16px;
        }
        @media (max-width: $breakpoint-xs-max) {
            font-size: 14px;
        }
    }
    
    .base-btn {
        background-color: $base_color;
        outline: none;
        border: none;
        transition: .2s;
        p {
            padding: $base*3 $base*9;
            color: #FFF;
            font-weight: $fw-bold;
        }
        &:hover {
            background-color: darken($base_color, 5%);
            transition: .2s;
            cursor: pointer;
        }
    }
    
    .common_text {
        font-weight: $fw-regular;
    }
    
    // ==== \common ==== //
    // ==== header ==== //
    .section-header-top {
        border-bottom: 1px solid $dark_color;
    }
    
    .header-top {
        display: flex;
        justify-content: space-between;
        @media (max-width: $breakpoint-md-max) {
            flex-direction: column;
            align-items: center;
        }
        p,
        a {
            font-weight: $fw-bold;
        }
    }
    
    .main-navigation {
        @media (max-width: $breakpoint-xs-max) {
            flex-direction: column;
            align-items: center;
            li+li {
                margin-top: $base*2
            }
        }
    }
    
    .header-top__item {
        @media (max-width: $breakpoint-xs-max) {
            flex-wrap: wrap;
            justify-content: center;
            margin-top: $base*4;
        }
    }
    
    .header-top__item,
    .social-wrap,
    .main-navigation {
        display: flex;
        align-items: center;
    }
    
    ul {
        padding: 0;
        li {
            list-style-type: none;
            a,
            .more {
                path {
                    transition: .2s;
                }
            }
            a:hover,
            .more:hover {
                cursor: pointer;
                path {
                    transition: .2s;
                    fill: $base_color
                }
            }
        }
    }
    
    .socail__mobile {
        margin-left: $base*7;
        display: flex;
        &__item {
            align-items: center;
            a {
                color: $dark_color;
                text-decoration: none;
            }
        }
    }
    
    .social-wrap {
        margin-left: $base*2;
    }
    
    .main-navigation {
        li+li {
            margin-left: $base*2;
        }
        .active {
            border-bottom: 3px solid $base_color;
            &:hover {
                border-bottom: 0px;
            }
        }
        a {
            font-size: 18px;
            line-height: 22.5px;
            cursor: pointer;
            color: $dark_color;
            text-decoration: none;
            transition: .2s;
            @media (max-width: $breakpoint-xs-max) {
                font-size: 20px;
            }
        }
        a:hover {
            border-bottom: 3px solid $base_color;
            transition: .2s;
        }
    }
    
    .header-bottom {
        display: flex;
        justify-content: space-between;
        background-image: url(../img/logo.png);
        background-position: center;
        background-repeat: no-repeat;
        height: $base*21;
        @media (max-width: $breakpoint-xl-max) {
            background-image: none;
            flex-direction: column;
            align-items: center;
            height: auto;
            .header-bottom__item+.header-bottom__item {
                margin-top: $base*7;
            }
        }
    }
    
    .header-bottom__item {
        display: flex;
        align-items: center;
        &-wrap {
            padding: 0;
            list-style: none;
            display: flex;
            @media (max-width: $breakpoint-xs-max) {
                flex-direction: column;
                align-items: center;
            }
            a {
                color: $dark_color;
                text-decoration: none;
                font-weight: $fw-bold;
            }
            li+li {
                margin-left: $base*3;
                @media (max-width: $breakpoint-xs-max) {
                    margin-left: $base;
                    margin-top: $base*3;
                }
            }
        }
        &__shoping-cart {
            @media (max-width: $breakpoint-xs-max) {
                flex-direction: column;
            }
            a {
                transition: .2s;
                vertical-align: center;
                svg {
                    margin-right: $base;
                }
            }
            a:hover {
                path {
                    fill: $base_color;
                    transition: .2s;
                }
                p {
                    color: $base_color;
                    transition: .2s;
                }
            }
        }
    }
    
    .shoping-cart {
        display: flex;
        margin-right: $base*4;
        @media (max-width: $breakpoint-xs-max) {
            margin-right: 0;
            margin-bottom: $base*3;
        }
        p {
            padding-top: $base;
            font-weight: $fw-bold;
        }
    }
    
    .header-bottom__item-logo {
        display: none;
        @media (max-width: $breakpoint-xl-max) {
            display: block;
            text-align: center;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        @media (max-width: $breakpoint-xs-max) {
            img {
                width: 70%;
                height: 70%;
                object-fit: contain;
            }
        }
    }
    
    // ==== /header ==== //
    // ==== slider ==== //
    .section-slider {
        @media (max-width: $breakpoint-xl-max) {
            margin-top: $base*4;
        }
        background-image: url(../img/slider_back.png);
        height:auto;
        padding-bottom: $base*26;
        @media (max-width: $breakpoint-xs-max) {
            background-size: contain;
            background-repeat: no-repeat;
            padding-bottom: 0;
            padding-top: $base*25;
        }
    }
    
    .slider-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        max-width: $base*80;
        padding: $base*10 $base*10;
        border-left: $base*3 solid $base_color;
        h3 {
            max-width: 320px;
            text-align: center;
            margin-top: $base*2;
        }
        h1 {
            margin-bottom: $base*7;
        }
        button {
            margin-top: $base*6;
        }
    }
    
    .slider__info {
        display: flex;
        align-items: flex-end;
        margin-top: $base*13;
    }
    
    .slider__dots {
        display: flex;
    }
    
    .dot {
        border-radius: 50%;
        width: $base*6;
        height: $base*6;
        border: $base/5 solid $dark_color;
        background-color: $dark_color;
        color: #fff;
        cursor: pointer;
        &+& {
            margin-left: $base*2;
        }
        &__disable {
            background-color: #FFF;
            color: $dark_color;
        }
    }
    
    // ==== /slider ==== //
    // ==== benefits ==== //
    .benefits-slider {
        margin-top: $base*10;
        position: relative;
    }
    
    .slide {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        @media (max-width: $breakpoint-sm-max) {
            flex-direction: column;
        }
        .slide__item-2:hover {
            h4 {
                margin-bottom: $base*3;
            }
            p {
                margin-bottom: $base*6;
            }
            .benefits-slider__hiden-text {
                display: flex;
            }
        }
        &__item {
            width: 586px;
            height: $base*50;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            @media (max-width: $breakpoint-sm-max) {
                width: auto;
            }
            @media (max-width: $breakpoint-xs-max) {
                width: auto;
            }
            h4 {
                margin-left: $base*6;
                margin-bottom: $base*6;
                max-width: 300px;
                text-align: left;
                color: #FFF;
                border-bottom: 3px solid $base_color;
            }
            &-1 {
                background-size: cover;
                background-repeat: no-repeat;
                background-image: url(../img/benefits/1.png);
            }
            &-2 {
                background-size: cover;
                background-repeat: no-repeat;
                background-image: url(../img/benefits/2.png);
            }
            &-3 {
                background-size: cover;
                background-repeat: no-repeat;
                background-image: url(../img/benefits/3.png);
            }
            &+& {
                margin-left: $base*6;
                @media (max-width: $breakpoint-sm-max) {
                    margin-left: 0;
                    margin-top: $base*3;
                }
            }
            button {
                border-radius: 50%;
            }
        }
    }
    
    .benefits-slider__hiden-text {
        display: none;
        justify-content: center;
        transition: .2s;
        p {
            color: #fff;
            max-width: 90%;
        }
    }
    
    // ==== /benefits ==== //
    // ==== category ==== //
    .category-btn {
        margin-top: $base*10;
        text-align: center;
    }
    
    .category-link-wrap {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: $base*12;
        padding-bottom: $base*18;
        @media (max-width: $breakpoint-sm-max) {
            justify-content: space-around;
            flex-wrap: wrap;
        }
    }
    
    .category-item-link {
        cursor: pointer;
        height: $base*30;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        h4 {
            text-align: center;
        }
        .more {
            path {
                transition: .2s;
                fill: $dark_color;
            }
        }
        &:hover {
            transition: .2s;
            h4 {
                border-bottom: 3px solid $base_color;
            }
            .more {
                path {
                    fill: $base_color;
                }
            }
        }
    }
    
    .category-item-link__active {
        h4 {
            border-bottom: 3px solid $base_color;
        }
        .more {
            path {
                fill: $base_color;
            }
        }
    }
    
    .category-item-wrap {
        display: flex;
        &+& {
            margin-top: $base*10;
        }
        @media (max-width: $breakpoint-sm-max) {
            flex-direction: column;
            align-items: center;
            &+& {
                margin-top: 0;
            }
        }
    }
    
    .category-item {
        cursor: pointer;
        position: relative;
        max-width: 586px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-size: contain;
        @media (max-width: $breakpoint-sm-max) {
            margin-top: $base*3;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        &+& {
            margin-left: $base*6;
            @media (max-width: $breakpoint-sm-max) {
                margin-left: 0;
            }
        }
        &__info {
            display: flex;
            justify-content: space-between;
            background-color: #fff;
            transition: .2s;
            h4 {
                padding: 15px;
            }
        }
        &__content {
            position: absolute;
            top: $base*2;
            &-common {
                background-color: $dark_color;
                color: #fff;
                width: $base*28;
                padding: $base $base*3;
            }
            &-stock {
                background-color: $color_ac;
                color: #fff;
                width: $base*17;
                padding: $base $base*3;
            }
            &-common+&-stock {
                margin-top: $base*2;
            }
        }
    }
    
    .stock__text {
        color: $color_ac;
        span {
            font-size: 16px;
            color: $light_color;
            padding-left: $base*3;
            text-decoration: line-through;
        }
    }
    
    .category-item:hover {
        .category-item__info {
            transition: .2s;
            background-color: $base_color;
            h4 {
                color: #fff;
                span {
                    color: #fff;
                }
            }
        }
    }
    
    // ==== /category ==== //
    // ==== about-us ==== //
    .section-about-us {
        margin-top: $base*10;
        background-image: url(../img/about-us-back.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        padding: $base*20 0;
        @media (max-width: $breakpoint-sm-max) {
            display: flex;
            padding-top: $base*40;
            padding-bottom: 0;
            background-position: top;
        }
        @media (max-width: $breakpoint-xs-max) {
            display: flex;
            padding-top: $base*30;
            padding-bottom: 0;
            background-position: top;
        }
    }
    
    .about-us-content {
        background-color: #fff;
        border-right: $base*3 solid $base_color;
        padding: $base*6;
        box-sizing: border-box;
        max-width: 710px;
        P {
            span {
                color: $base_color;
                font-weight: $fw-bold;
            }
        }
        p+p {
            margin-top: $base*3;
        }
    }
    
    // ==== /about-us ==== //
    // ==== question ==== //
    .section-question {
        margin-top: $base*10;
        background-image: url(../img/question-back.png);
        background-repeat: no-repeat;
        background-position: left;
        background-size: contain;
        padding: $base*20 0;
        @media (max-width: $breakpoint-sm-max) {
            padding-top: $base*40;
            padding-bottom: 0;
            background-position: top;
        }
        @media (max-width: $breakpoint-xs-max) {
            padding-top: $base*25;
            padding-bottom: 0;
            background-position: top;
        }
    }
    
    .question-wrap {
        display: flex;
        justify-content: flex-end;
        @media (max-width: $breakpoint-sm-max) {
            justify-content: center;
        }
    }
    
    .question-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: $base*102;
        background-color: #fff;
        padding: $base*10 $base*6;
        border-left: $base*3 solid $base_color;
        @media (max-width: $breakpoint-sm-max) {
            padding: $base*10 0;
            justify-content: center;
        }
        h3 {
            margin-bottom: $base*6;
        }
        p {
            max-width: $base*83;
            margin-top: $base*6;
            @media (max-width: $breakpoint-xs-max) {
                max-width: 250px;
            }
            span {
                a {
                    font-weight: $fw-bold;
                }
            }
        }
        input {
            height: $base*10;
            border: $base/5 solid $light_color;
            outline: none;
            border-radius: 3px;
            box-sizing: border-box;
            padding: $base*3;
        }
        input,
        button {
            min-width: $base*86;
            @media (max-width: $breakpoint-xs-max) {
                min-width: $base*60;
            }
            p {
                margin: 0;
            }
        }
        button,
        input+input {
            margin-top: $base*3;
        }
    }
    
    // ==== /question ==== //
    // ==== footer ==== //
    .section-footer {
        margin-top: $base*20;
        padding: 0;
        background-image: url(../img/footer.png);
        background-position: right;
        background-repeat: no-repeat;
        background-size: contain;
        @media (max-width: $breakpoint-sm-max) {
            background-position: top;
            padding-top: $base*55;
        }
        @media (max-width: $breakpoint-xs-max) {
            background-position: top;
            padding-top: $base*30;
        }
    }
    
    .footer-wrapper {
        max-width: 1000px;
    }
    
    .footer-content {
        display: flex;
        flex-direction: column;
        background-color: $dark_color;
        box-sizing: border-box;
        padding: $base*10 $base*10 $base*3 $base*10;
        &__item-base {
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
            @media (max-width: $breakpoint-xs-max) {
                flex-direction: column;
                align-items: center;
            }
            nav {
                display: flex;
                .footer-navigation+.footer-navigation {
                    margin-left: $base*6;
                }
            }
        }
    }
    
    .footer-content__item {
        @media (max-width: $breakpoint-sm-max) {
            text-align: center;
        }
    }
    
    .img__footer {
        @media (max-width: $breakpoint-sm-max) {
            width: 70%;
            height: 70%;
            object-fit: contain;
        }
    }
    
    .footer-navigation {
        width: $base*40;
        @media (max-width: $breakpoint-sm-max) {
            width: $base*20;
        }
        &__link {
            &+& {
                margin-top: $base*3;
            }
            a {
                transition: .2s;
                color: #fff;
                span {
                    transition: .2s;
                    color: $base_color;
                }
                &:hover {
                    transition: .2s;
                    color: $base_color;
                    span {
                        transition: .2s;
                        color: #fff;
                    }
                }
            }
        }
    }
    
    .footer-contacts {
        margin-left: $base*18;
        @media (max-width: $breakpoint-xl-max) {
            margin-left: $base*4;
        }
        @media (max-width: $breakpoint-xs-max) {
            margin-top: $base*4;
        }
        &__item {
            display: flex;
            align-items: center;
            &+& {
                margin-top: $base*3;
            }
            p {
                color: #fff;
                padding-left: $base*2;
            }
            a {
                color: $base_color;
            }
            &-tel {
                display: flex;
                align-items: center;
            }
            &-social {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                svg {
                    transition: .2s;
                    &:hover {
                        path {
                            transition: .2s;
                            fill: $base_color
                        }
                    }
                }
            }
        }
    }
    
    .footer-site-info {
        display: flex;
        justify-content: space-between;
        margin-top: $base*20;
        @media (max-width: $breakpoint-xs-max) {
            flex-direction: column;
            align-items: center;
            span+span {
                margin-top: $base*2;
            }
        }
        p {
            font-size: 14px;
            color: #fff;
        }
        span {
            display: flex;
        }
    }
    
    // ==== /footer ==== //