@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@mixin openSans {
    font-family: 'Open Sans', sans-serif;
}

//=== variables ===//
$base:5px;
$fw-light:300;
$fw-regular:400;
$fw-bold:700;
$base-color:grey;
//=== /variables ===//
//=== common ===//
button {
    background-color: $base-color;
    color: #fff;
    border-radius: $base;
    width: 150px;
    height: 30px;
    outline: none;
    border: none;
    transition: 0.2s;
    &:hover {
        background-color: darken($base-color, 5%);
        transition: 0.2s;
    }
}

input {
    width: $base*50;
    height: $base*6;
    border: $base/2 solid $base-color;
    background-color: lighten($base-color, 45%);
    border-radius: $base/2;
    outline: none;
    @include openSans;
    &::-webkit-input-placeholder {
        color: black;
        font-weight: $fw-bold;
        padding-left: $base;
    }
}

h1,
h2,
h3,
p {
    @include openSans;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: xx-large;
}

h3 {
    font-size: x-large;
}

p {
    font-size: medium;
}

.section-inner {
    max-width: 1000px;
    margin: 0 auto;
    border: $base;
    border-color: $base-color;
}

//=== /common ===//
//=== section-header ===//
.header-wrap {
    margin-top: $base*10;
    display: flex;
    justify-content: space-between;
    h1 {
        font-weight: $fw-bold;
    }
    h2 {
        font-weight: $fw-light;
    }
}

//=== /section-header ===//
//=== section-content ===//
.calendar {
    &-days {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        justify-items: center;
        margin-top: $base*5;
        p {
            padding: $base*2;
        }
    }
}

p.day:hover {
    background-color: $base-color;
    border-radius: 50%;
    cursor: pointer;
}

.weekand {
    margin-top: $base*7;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-row-gap: $base*2;
    justify-items: center;
    p {
        font-weight: $fw-bold;
        padding: $base*2;
    }
}

.content-wrapper {
    margin-top: $base*12;
    display: flex;
    justify-content: space-around;
}

.total {
    margin-bottom: $base*5;
    display: flex;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    input {
        margin-top: $base*2;
    }
    button {
        margin-top: $base*3;
    }
}

.calendar-mounth {
    display: flex;
    justify-content: space-between;
}

.wrap-day {
    display: flex;
    // h3 {
    //     padding-left: $base*5;
    // }
}

.calendar-mounth__nex-prev {
    display: flex;
}

.currentDate {
    padding-left: $base*3;
}

.day__spending-wrapper__item {
    &+& {
        margin-top: $base*5;
    }
    display: grid;
    grid-template-columns: repeat(2,
    1fr);
    &__buttons {
        grid-template-rows: repeat(2, 1fr);
        div {
            display: flex;
            justify-content: space-between;
            margin-top: $base;
        }
    }
}

.day__spending-wrapper__item__text {
    grid-template-rows: repeat(2, 1fr);
    p {
        height: $base*6;
        margin-top: $base;
    }
}

.total-value {
    @include openSans;
    font-weight: $fw-bold;
    align-items: center;
    padding-left: $base*3;
}

//=== /section-content ===//
//=== section-day__spending ===//
.section-day__spending {
    max-width: 800px;
    margin: 0 auto;
    margin-top: $base*15;
    h3 {
        font-weight: $fw-regular;
    }
}

//=== /section-day__spending ===//