@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap");
.main-wrapper {
  width: 480px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.banner {
  position: relative;
}
.banner__image {
  object-fit: cover;
  width: 100%;
}

.price {
  display: flex;
}
.price__info {
  font-size: 18px;
}
.price__old, .price__new {
  width: 50%;
  font-size: 26px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: aliceblue;
}
.price__old {
  background-color: #355CA1;
}
.price__new {
  background-color: #C3E2FD;
  color: #1c92d1;
}
.price__sold {
  position: absolute;
  top: 81%;
  left: 41%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ff6a22;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  color: aliceblue;
}

.timer {
  background: #88d4fc;
  background: linear-gradient(90deg, #88d4fc 30%, #1c92d1 70%);
  padding: 50px 50px 0 50px;
}
.timer__title {
  color: #ffffff;
  text-align: center;
  font-weight: 300;
  margin-bottom: 30px;
}
.timer__dates-wrapper {
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.timer__item {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #ffffff;
}
.timer__amount-info {
  margin-top: 7px;
}
.timer__amount {
  border-radius: 5px;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: black;
  height: 50px;
  width: 50px;
}

.double-points {
  margin-top: 5px;
  color: aliceblue;
  font-size: xx-large;
}

.benefits {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
}
.benefits__block {
  width: 180px;
  margin-top: 10px;
  padding: 20px 10px;
  background-color: #1c92d1;
  text-align: center;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
}
.benefits__block p {
  max-width: 180px;
  font-size: 16px;
  margin-top: 15px;
  color: #ffffff;
}
.benefits__block:nth-child(2n) {
  margin-left: 10px;
}

svg {
  fill: #ffffff;
}

.benefits__wrapper {
  margin-top: 30px;
}

.benefits__title {
  text-align: center;
  color: #1c92d1;
  font-size: xx-large;
}

.doctors {
  background: #88d4fc;
  background: linear-gradient(90deg, #88d4fc 30%, #1c92d1 70%);
}
.doctors__title {
  color: #ffffff;
  text-align: center;
  padding-top: 30px;
  font-size: xx-large;
}

.swiper-wrapper__doctors {
  padding: 10px;
  margin-bottom: 20px;
}

.swiper-slide__doctors {
  background-color: #ffffff;
  width: 350px !important;
  height: 600px !important;
  margin: 30px 0 30px 0;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.swiper-slide__doctors__image {
  object-fit: contain;
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.swiper-slide__doctors__title {
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
}
.swiper-slide__doctors__info {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  line-height: 24px;
}

.small-img {
  width: 70%;
}

.swiper-slide__title {
  text-align: center;
}

.swiper-pagination-bullet {
  background-color: #ffffff !important;
}

.form-control {
  background: #88d4fc;
  background: linear-gradient(90deg, #88d4fc 30%, #1c92d1 70%);
}
.form-control button {
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.input + .input {
  margin-top: 20px;
}

input {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  outline: none;
  border: none;
  padding: 20px;
  font-weight: 300;
}

select {
  font-size: 20px;
  outline: none;
  border: none;
  padding: 20px;
  font-weight: 300;
}

option {
  font-size: 20px;
  outline: none;
  border: none;
  padding: 20px;
  font-weight: 300;
}

.button-submit {
  color: black;
  background: #fdbb2d;
  background: linear-gradient(0deg, #fdbb2d 8%, #ecea4f 77%);
  padding: 20px;
  font-size: 24px;
  width: 300px;
  margin: 0 auto;
  border: none;
  cursor: pointer;
}

.button-submit__wrapper {
  background: #88d4fc;
  background: linear-gradient(90deg, #88d4fc 30%, #1c92d1 70%);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.button-submit__info {
  color: #ffffff;
  margin-top: 20px;
  font-size: 18px;
}

.swiper-wrapper__reviews {
  width: 480px;
  border-radius: 15px;
  margin-bottom: 35px;
}

.reviews {
  padding: 40px 0;
  background: #88d4fc;
  background: linear-gradient(90deg, #88d4fc 30%, #1c92d1 70%);
}
.reviews h2 {
  text-align: center;
  padding-bottom: 30px;
  font-size: xx-large;
  color: #ffffff;
}

.avatar {
  vertical-align: middle;
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}

.swiper-slide__review {
  border-radius: 15px;
  background-color: white;
  height: 600px !important;
}

.review-info__block {
  margin: 0 auto;
  max-width: 300px;
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
}

.review-older {
  margin-top: 5px;
  font-weight: 300;
}

.review-name {
  font-size: 18px;
}

.reviewSwiper {
  width: 450px;
}

.review-info__block-content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

.review-text {
  text-align: justify;
  max-width: 320px;
  font-size: large;
  font-weight: 300;
  margin: 20px auto;
}

/*# sourceMappingURL=style.css.map */
