@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
button {
  background-color: grey;
  color: #fff;
  border-radius: 5px;
  width: 150px;
  height: 30px;
  outline: none;
  border: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

button:hover {
  background-color: #737373;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input {
  width: 250px;
  height: 30px;
  border: 2.5px solid grey;
  background-color: #f3f3f3;
  border-radius: 2.5px;
  outline: none;
  font-family: 'Open Sans', sans-serif;
}

input::-webkit-input-placeholder {
  color: black;
  font-weight: 700;
  padding-left: 5px;
}

h1,
h2,
h3,
p {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: xx-large;
}

h3 {
  font-size: x-large;
}

p {
  font-size: medium;
}

.section-inner {
  max-width: 1000px;
  margin: 0 auto;
  border: 5px;
  border-color: grey;
}

.header-wrap {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-wrap h1 {
  font-weight: 700;
}

.header-wrap h2 {
  font-weight: 300;
}

.calendar-days {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  margin-top: 25px;
}

.calendar-days p {
  padding: 10px;
}

p.day:hover {
  background-color: grey;
  border-radius: 50%;
  cursor: pointer;
}

.weekand {
  margin-top: 35px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  grid-row-gap: 10px;
  justify-items: center;
}

.weekand p {
  font-weight: 700;
  padding: 10px;
}

.content-wrapper {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.total {
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inputs input {
  margin-top: 10px;
}

.inputs button {
  margin-top: 15px;
}

.calendar-mounth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrap-day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.calendar-mounth__nex-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.currentDate {
  padding-left: 15px;
}

.day__spending-wrapper__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.day__spending-wrapper__item + .day__spending-wrapper__item {
  margin-top: 25px;
}

.day__spending-wrapper__item__buttons {
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.day__spending-wrapper__item__buttons div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5px;
}

.day__spending-wrapper__item__text {
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.day__spending-wrapper__item__text p {
  height: 30px;
  margin-top: 5px;
}

.total-value {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
}

.section-day__spending {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 75px;
}

.section-day__spending h3 {
  font-weight: 400;
}
